[Unit]
Description=Easyfind client update service
After=network.target
ConditionPathExists=/var/lib/easyfind/state

[Service]
Type=forking
PIDFile=/var/run/easyfind/efd.pid
User=easyfind
Group=easyfind
PermissionsStartOnly=true
ExecStart=/usr/bin/efd

[Install]
WantedBy=multi-user.target
